//utils styles
@import './utils/variables';
@import './utils/v-hidden';
@import './utils/placeholders';
@import './utils/mixins';

//base styles
@import './base/base';
@import './base/reset';

//components styles
@import './components/container';
@import './components/title';
@import './components/buttons';
@import './components/header';
@import './components/logo';
@import './components/navigation';
@import './components/contacts';
@import './components/hero';
@import './components/backdrop';
@import './components/modal';
@import './components/textarea';
@import './components/agreement';
@import './components/advantage';
@import './components/about';
@import './components/team';
@import './components/socials';
@import './components/clients';
@import './components/portfolio';
@import './components/buttons-menu';
@import './components/work-examples';
@import './components/footer';
@import './components/form-follow';
@import './components/menu-mobile';




