/* Шапка сайту */
.page-header {
    
    border-bottom: 1px solid #ECECEC;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: var(--color-white-text-bg);
}

.page-header__container {
    display: flex;
    align-items: center;
}

.page-header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

