.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-icon-close:hover,
.menu-icon-close:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 68px;
  padding-left: 40px;
  background-color: var(--color-white-text-bg);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--title-text-color);
}

.mobile-menu {
  padding: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu-link {
  display: block;
  //   padding: 10px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
}

.mobile-menu-item:first-child {
  margin-bottom: 36px;
}

.mobile-menu-item:nth-child(2) {
  margin-bottom: 32px;
}

.current {
  color: var(--accent-color);
}
// .menu-icon-close,
// .menu-icon-open {
//   fill: currentColor;
// }

.mobile-contacts {
  @include list;
  margin-bottom: 64px;
}

.mobile-contacts-item:first-child {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mobile-contacts-item:last-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.mobile-socials {
  @include list;
  display: flex;
  gap: 10px;
  @media screen and (max-width: #{$mobile - 0.02}) {
    flex-wrap: wrap;
  }
}

.mobile-socials-item:not(:last-child) {
  padding-right: 10px;

  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
