/* Навігація сайту */
.nav {
    @media screen and (max-width: #{$tablet - 0.02}) {
    display: none
    }
    
}
.nav__list {
    @include list;
    
    display: flex;
}

.nav__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    /* transition: color var(--transition-duration) var(--transition-timing-function); */

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

}

.nav__link--current {
    color: var(--accent-color);

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;

        background-color: var(--accent-color);
        border-radius: 2px;
    }
}



