/* Обнулення дефолтных значень */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



// Эти свойства не выносила отдельно,  а каждому линку прописывала. В следующий раз надо вынести
// внесла только для меню телефона
.link {
text-decoration: none;
color: currentColor;
}